body {
  font-family: Arial, sans-serif;
  background-color: #b3656542;
}
.container {
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 8px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.done {
  background-color: #c8e6c9;
  text-decoration: line-through;
}

.actions button {
  margin-left: 5px;
  cursor: pointer;
}